@use '../../_css/common.scss' as *;

.productHero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  width: 100%;
  margin-top: 24px;

  @include small-break {
    grid-template-columns: 1fr;
  }

  @media (max-width: 768px) { /* Adjust the max-width value as needed for your mobile breakpoint */
    margin-top: 12px;
  }
}

.image {
  padding: 24px;
  object-fit: contain;
  aspect-ratio: 1/1;
  max-width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.categoryWrapper {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
  margin-top: 8px;
}

.category {
  font-size: 16px;
}

.stock {

  &.inStock {
    font-weight: bold;
    color: rgb(110, 228, 110);
  }

  &.lowStock {
    font-weight: bold;
    color: orange;
  }

  &.otherStock {
    font-weight: bold;
    color: rgb(26, 123, 193);
  }

  &.outOfStock {
    color: red;
  }
}

.separator {
  color: var(--color-gray-500);
  padding: 0 10px;
}

.description {
  padding: 30px 0;
}
