@import "../../../_css/common";

.form {
  margin-top: 20px;
  margin-bottom: var(--base);
  display: flex;
  flex-direction: column;
  gap: var(--base);
  width: 100%;

  @include mid-break {
    width: 100%;
  }
}

.field {
  width: 100%;

  label {
    display: block;
    font-size: 12px;
    line-height: 1;
    margin-bottom: calc(var(--base) / 2);
  }

  input {
    width: 100%;
    font-family: system-ui;
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid #01abf74d;
    background: none;
    background-color: rgb(250 250 250);
    color: var(--theme-elevation-1000);
    height: 52px;
    line-height: calc(var(--base) * 2);
    padding: 16px;
    font-size: 16px;

    &:focus {
      border: none;
      outline: none;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: var(--theme-text);
      -webkit-box-shadow: 0 0 0px 1000px var(--theme-elevation-150) inset;
      transition: background-color 5000s ease-in-out 0s;
    }
  }

  .errorMessage {
    font-size: small;
    line-height: 1.25;
    margin-top: 4px;
    color: red;
  }
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--base);
  justify-content: center;
}
