@import '../../../_css/common';

.filters {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include large-break {
    flex-direction: row;
    gap: 40px;
  }
  
  @include small-break {
    flex-direction: column;
    gap: 20px;
  }

  @include small-break {
    margin-top: 16px;
  }
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;

  @include large-break {
    flex-direction: row;
    flex-wrap: wrap; // Enable wrapping of categories
    gap: 20px; // Add gap between the items for better spacing
  }

  @include small-break {
    flex-direction: column;
  }
}

.title {
  display: flex; /* Ensure the title is a flex container */
  justify-content: space-between; /* Align items with space between them */
  align-items: center; /* Center items vertically */
  white-space: nowrap;
  padding-right: 20px;

  .icon {
    margin-left: 8px; /* Adjust icon spacing if needed */
  }
}

.priceSlider {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.sliderWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  p {
    white-space: nowrap;
  }
}

.hr {
  margin: 20px 0;
}
